
body {
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: repeating-linear-gradient(
  to right,
  #ecca8f,
  #f9c05e 15px,
  #f8ce84 15px,
  #fdd389 25px
);

}
 h1 {
    font-size: 60px
 }

.main {
    display: flex;
    gap: 200px;
    font-size: 20px;

}
h2 {
    font-size: 100px;
}

.shop {
    font-size: 100px;
}
.cookieImg {
    height: 300px;
}

.cookieImg:hover {
    cursor: pointer;
    transform: scale(1.2);
}




.left h3 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}
.buyButton {
    color: black;
    background-color: lightgray;
    height: 20px;
    width: 40px;
    font-size: 10px;

}
.right {
    position: absolute;
    right: 0;
    top: 100px;;

}

.perSecond {
    background-color: brown;
    color: white;
    border-radius: 20px;
    font-size: 20px;
    padding: 10px;
}

.cShop {
    font-size: 15px;
}