
body {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: repeating-linear-gradient(
  to right,
  #ecca8f,
  #f9c05e 15px,
  #f8ce84 15px,
  #fdd389 25px
);
}

.main {
    display: flex;
    gap: 300px;
    font-size: 20px;
}
.cookieImg {
    height: 200px;;
}

.cShop {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    width: 600px;
}
.left h3 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.buyButton {
    color: white;
    background-color: brown;
    width: 50;
}